.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem; 
  max-width:250rem;
}

.header, .actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}